<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>231099843024-11795nrhacrg017sldv6h765bcp3v60c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.231099843024-11795nrhacrg017sldv6h765bcp3v60c</string>
	<key>API_KEY</key>
	<string>AIzaSyBxGVngR0GKc6iVECshadr-h9inl5K-H20</string>
	<key>GCM_SENDER_ID</key>
	<string>231099843024</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.reactnativefirebase</string>
	<key>PROJECT_ID</key>
	<string>the-commuters-2df1d</string>
	<key>STORAGE_BUCKET</key>
	<string>the-commuters-2df1d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:231099843024:ios:6e0f9aae0126f02a2b79d5</string>
	<key>DATABASE_URL</key>
	<string>https://the-commuters-2df1d-default-rtdb.firebaseio.com</string>
</dict>
</plist>